extends ../includes/layout
block title
    title eCommerce Website Template
    
block body
    include ../components/navbar
    header.hero-section
        .container
            .hero-section__content
                p.hero-section__txt Sale of the summer collection
                .hero-section__call-to-action
                    a.btn-round
                        svg.btn-round__icon--center(xmlns="http://www.w3.org/2000/svg" width="15" viewBox="0 0 15.336 13.329")
                            path(d="M6.663,13.329,1.107,7.768,0,6.661,1.107,5.553,6.663,0,7.77,1.1,3,5.878H15.336V7.443H3L7.77,12.219Z" transform="translate(15.336 13.329) rotate(180)" fill="#fff")
                    
                    span.btn-round__txt 
                        a(href="#") Shop now
        
        .hero-section__services
            .flex
                .service-item
                    .service-item__icon
                        svg(xmlns="http://www.w3.org/2000/svg" width="20.49" height="12.1" viewBox="0 0 20.49 12.1")
                            g(id="Group_179" data-name="Group 179" transform="translate(-2.5 -21.9)")
                                path(id="Path_189" data-name="Path 189" d="M33.641,26.818l-.949-2.2A2.172,2.172,0,0,0,30.686,23.3H29.155v-.561a.842.842,0,0,0-.841-.841h-10.7a.557.557,0,0,0-.561.561.571.571,0,0,0,.561.561H27.99v4.141a.921.921,0,0,0,.927.927h3.731V30.7a.193.193,0,0,1-.194.194h-.69a2.075,2.075,0,0,0-1.79-1.035,2.122,2.122,0,0,0-1.79,1.035H22.425a2.075,2.075,0,0,0-1.79-1.035,2.122,2.122,0,0,0-1.79,1.035H16.861a.561.561,0,1,0,0,1.122h1.7a2.072,2.072,0,0,0,4.141,0h5.2a2.072,2.072,0,0,0,4.141,0H32.5A1.321,1.321,0,0,0,33.814,30.7V27.68A2.459,2.459,0,0,0,33.641,26.818ZM20.635,32.878a.949.949,0,1,1,.949-.949A.957.957,0,0,1,20.635,32.878Zm9.339,0a.949.949,0,1,1,.949-.949A.957.957,0,0,1,29.974,32.878Zm-.841-8.433h1.531a1.01,1.01,0,0,1,.949.625l.82,1.9h-3.3Z" transform="translate(-10.824)" fill="#fbb03b")
                                path(id="Path_190" data-name="Path 190" d="M12.861,33.922h3.969a.561.561,0,1,0,0-1.122H12.861a.557.557,0,0,0-.561.561A.571.571,0,0,0,12.861,33.922Z" transform="translate(-7.686 -8.549)" fill="#fbb03b")
                                path(id="Path_191" data-name="Path 191" d="M7.961,43.922h3.969a.561.561,0,1,0,0-1.122H7.961a.557.557,0,0,0-.561.561A.571.571,0,0,0,7.961,43.922Z" transform="translate(-3.843 -16.392)" fill="#fbb03b")
                                path(id="Path_192" data-name="Path 192" d="M7.612,53.361a.557.557,0,0,0-.561-.561H3.061a.561.561,0,1,0,0,1.122H7.029A.549.549,0,0,0,7.612,53.361Z" transform="translate(0 -24.235)" fill="#fbb03b")
                        
                    .service-item__content
                        span.service-item__title Free Shipping
                        p.service-item__txt On purchases over $199
                .service-item
                    .service-item__icon
                        svg(xmlns="http://www.w3.org/2000/svg" width="17.333" height="17.333" viewBox="0 0 17.333 17.333")
                            g(id="noun_Happy_1563582" transform="translate(-2 -2)")
                                path(id="Path_193" data-name="Path 193" d="M24.167,31.444a.722.722,0,0,1,.722.722.722.722,0,0,0,1.444,0,2.167,2.167,0,0,0-4.333,0,.722.722,0,0,0,1.444,0A.722.722,0,0,1,24.167,31.444Z" transform="translate(-16.389 -22.944)" fill="#fbb03b")
                                path(id="Path_194" data-name="Path 194" d="M56.167,30A2.167,2.167,0,0,0,54,32.167a.722.722,0,0,0,1.444,0,.722.722,0,1,1,1.444,0,.722.722,0,0,0,1.444,0A2.167,2.167,0,0,0,56.167,30Z" transform="translate(-42.611 -22.944)" fill="#fbb03b")
                                path(id="Path_195" data-name="Path 195" d="M10.667,2a8.667,8.667,0,1,0,8.667,8.667A8.667,8.667,0,0,0,10.667,2Zm0,15.889a7.222,7.222,0,1,1,7.222-7.222A7.222,7.222,0,0,1,10.667,17.889Z" fill="#fbb03b")
                                path(id="Path_196" data-name="Path 196" d="M35.987,58.209l-.422.424a2.835,2.835,0,0,1-3.911,0l-.422-.424a.723.723,0,0,0-1.022,1.022l.424.422a4.207,4.207,0,0,0,5.958,0l.424-.422a.723.723,0,1,0-1.022-1.022Z" transform="translate(-22.943 -45.887)" fill="#fbb03b")
                    
                    .service-item__content
                        span.service-item__title 99% Satisfied Customers
                        p.service-item__txt Our clients' opinions speak for themselves
                .service-item
                    .service-item__icon
                        svg(xmlns="http://www.w3.org/2000/svg" width="19" height="20.057" viewBox="0 0 19 20.057")
                            g(id="noun_guarantee_2519048" transform="translate(-5 -3.997)")
                                path(id="Path_91" data-name="Path 91" d="M23.493,6.584,14.7,4.026a.7.7,0,0,0-.4,0h0L5.5,6.584A.7.7,0,0,0,5,7.26v7.681c0,6.685,8.948,9,9.331,9.092a.689.689,0,0,0,.352,0C15.232,23.892,24,21.563,24,14.941V7.26A.7.7,0,0,0,23.493,6.584Zm-.9,8.356c0,5.137-6.91,7.354-8.093,7.681-1.182-.327-8.093-2.533-8.093-7.681V7.791L14.5,5.434l8.093,2.354Z" transform="translate(0)" fill="#fbb03b")
                                path(id="Path_92" data-name="Path 92" d="M26.782,18.7v.735a2.111,2.111,0,0,0,.352,4.191h1.056a.7.7,0,1,1,0,1.407H26.078a.7.7,0,1,0,0,1.407h.7v.7a.7.7,0,1,0,1.407,0v-.7a2.111,2.111,0,1,0,0-4.222H27.133a.7.7,0,0,1,0-1.407h2.111a.7.7,0,0,0,0-1.407H28.189v-.7a.7.7,0,1,0-1.407,0Z" transform="translate(-12.985 -9.076)" fill="#fbb03b")
                       
                    .service-item__content
                        span.service-item__title Originality Guaranteed
                        p.service-item__txt 30 days warranty for each product from our store
        
                