extends ../includes/layout
block title
    title eCommerce Website Template
    
block body
    +navbar("white-bg", "defaultNav")

    .top-spacing
        .container
            .page-row
                h1.side-title Shopping Cart
                svg(xmlns="http://www.w3.org/2000/svg" width="296.701" height="36" viewBox="0 0 296.701 36")
                    g(transform="translate(-1139 -155)")
                        rect(width="70" height="1" transform="translate(1324 173)" fill="#eee")
                        circle(cx="18" cy="18" r="18" transform="translate(1139 155)" fill="#fbb03b")
                        g(transform="translate(1142 158.5)")
                            path(d="M6.729,7.458H7.947L9.773,15.7a2.617,2.617,0,0,0-1.489,2.42,2.492,2.492,0,0,0,2.356,2.6h9.669a.729.729,0,1,0,0-1.458H10.64a1.06,1.06,0,0,1-.9-1.146,1.06,1.06,0,0,1,.9-1.147h9.669a.729.729,0,0,0,.686-.482l2.462-6.834a.729.729,0,0,0-.686-.976H9.711l-.466-2.1A.729.729,0,0,0,8.532,6h-1.8a.729.729,0,0,0,0,1.458Zm15,2.676L19.8,15.51H11.225l-1.191-5.375h11.7Z" fill="#fff")
                            path(d="M19.074,50a.729.729,0,1,0,0,1.458H20A.729.729,0,1,0,20,50Z" transform="translate(-7.844 -27.958)" fill="#fff")
                            path(d="M37.526,50a.729.729,0,0,0,0,1.458h.926a.729.729,0,1,0,0-1.458Z" transform="translate(-19.569 -27.958)" fill="#fff")
                        
                        rect(width="70" height="1" transform="translate(1190 173)" fill="#eee")  
                        path(d="M33.4,22.59H22.767a.708.708,0,0,0-.708.708v3.533H19.942a.706.706,0,0,0-.589.315l-2.124,3.2a.708.708,0,0,0-.119.393v3.189a.708.708,0,0,0,.708.708h.039a2.468,2.468,0,0,0,4.887,0h4.318a2.468,2.468,0,0,0,4.887,0H33.4a.708.708,0,0,0,.708-.708V23.3A.708.708,0,0,0,33.4,22.59ZM18.526,30.95l1.809-2.693h1.734v4.287c-.028-.028-.059-.047-.088-.072-.07-.065-.14-.124-.215-.181l-.15-.1a2.017,2.017,0,0,0-.258-.134c-.1-.041-.1-.052-.16-.075a2.3,2.3,0,0,0-.295-.093c-.049-.013-.1-.028-.147-.039a2.362,2.362,0,0,0-.47-.049,2.326,2.326,0,0,0-.468.049.641.641,0,0,0-.15.039,2.258,2.258,0,0,0-.292.093c-.057.023-.111.049-.165.078a2.171,2.171,0,0,0-.24.132c-.054.034-.106.07-.16.109a2.479,2.479,0,0,0-.2.165c-.062.057-.067.052-.1.083Zm1.77,4.393a1.065,1.065,0,0,1-1.062-1.062,1.313,1.313,0,0,1,.021-.214,1.062,1.062,0,0,1,2.083,0,1.189,1.189,0,0,1,.021.217A1.065,1.065,0,0,1,20.3,35.341Zm9.211,0a1.065,1.065,0,1,1,1.034-1.292,1.189,1.189,0,0,1,.023.217,1.065,1.065,0,0,1-1.057,1.073Zm2.238-2.127c-.023-.049-.054-.1-.083-.145s-.039-.078-.062-.114a2.887,2.887,0,0,0-.2-.258.432.432,0,0,1-.031-.041,2.488,2.488,0,0,0-.279-.258l-.085-.065a2.041,2.041,0,0,0-.233-.158l-.119-.065A1.9,1.9,0,0,0,30.422,32a1.361,1.361,0,0,0-.132-.049,2.3,2.3,0,0,0-.258-.072l-.124-.026a2.223,2.223,0,0,0-.8,0l-.121.026a2.344,2.344,0,0,0-.258.072A.433.433,0,0,0,28.6,32a2.558,2.558,0,0,0-.24.114l-.111.059a2.4,2.4,0,0,0-.258.173l-.065.047a2.559,2.559,0,0,0-.517.6l-.044.078c-.031.057-.067.111-.093.168H23.486V24.006h9.208v2.127H27.734a.708.708,0,0,0,0,1.416h4.959v5.665Z" transform="translate(1263.891 144.409)" fill="#d8d8d8")
                        g(transform="translate(1412 158.63)")
                            path(d="M22.944,9.4H20.061a.757.757,0,0,0-.757.757v.6H18.033L15.892,8.6a4.2,4.2,0,0,0-5.948,0L8.173,10.374H1.757A.757.757,0,0,0,1,11.131v3.526H1v4.956a.757.757,0,0,0,.757.757H14.666a.757.757,0,0,0,.757-.757V16.738h1.143a3.027,3.027,0,0,0,2.27,1.059h.439V18.4a.757.757,0,0,0,.757.757h2.913A.757.757,0,0,0,23.7,18.4V10.154A.757.757,0,0,0,22.944,9.4ZM8.469,11.9h5.448v1.2H11.949a1.816,1.816,0,0,0-1.513.84H2.513V11.9Zm5.448,7H2.513V15.413h7.7a1.816,1.816,0,0,0,1.733,1.294h1.967Zm4.956-2.618a1.513,1.513,0,0,1-1.279-.7.757.757,0,0,0-.643-.355H11.942a.31.31,0,1,1,0-.613h5a.757.757,0,0,0,0-1.513H15.43V11.146a.757.757,0,0,0-.757-.757H10.323l.7-.7a2.754,2.754,0,0,1,3.783,0l2.361,2.361a.757.757,0,0,0,.537.219h1.589v4.018Zm3.314,1.362h-1.37V10.911h1.37Z" fill="#d8d8d8")

            table.shopping-cart-table
                thead
                    tr
                        th.cel-title Product
                        th.cel-title Color
                        th.cel-title Size
                        th.cel-title Amount
                        th.cel-title Price
                
                tbody
                
                    tr
                        td
                            .product-cart
                                .product-cart__img
                                    img(src="images/cart-product-img-1.png", alt="")
                                .product-cart__info
                                    .product-cart__info-title T-Shirt Summer Vibes
                                    .product-cart__info-nb #261311
                        td  White
                        td  XL
                        td  
                            input.number-input.col-4(type="number" id="quantity" name="quantity" min="1" max="5" value="1")
                        td $89.99
                        td
                            .cancel-btn
                                svg(xmlns="http://www.w3.org/2000/svg" width="11.502" height="11.5" viewBox="0 0 11.502 11.5")
                                    path(d="M19.127,8.117a.833.833,0,0,0-1.18,0l-4.325,4.325L9.3,8.117A.834.834,0,0,0,8.117,9.3l4.325,4.325L8.117,17.947A.834.834,0,0,0,9.3,19.125L13.622,14.8l4.325,4.325a.834.834,0,1,0,1.182-1.177L14.8,13.622,19.127,9.3A.837.837,0,0,0,19.127,8.117Z" transform="translate(-7.873 -7.872)")

                    tr
                        td
                            .product-cart
                                .product-cart__img
                                    img(src="images/cart-product-img-2.png", alt="")
                                .product-cart__info
                                    .product-cart__info-title Basic Slim Fit T-Shirt
                                    .product-cart__info-nb #212315
                        td  Black
                        td  XL
                        td  
                            input.number-input.col-4(type="number" id="quantity" name="quantity" min="1" max="5" value="1")
                        td $69.99
                        td
                            .cancel-btn
                                svg(xmlns="http://www.w3.org/2000/svg" width="11.502" height="11.5" viewBox="0 0 11.502 11.5")
                                    path(d="M19.127,8.117a.833.833,0,0,0-1.18,0l-4.325,4.325L9.3,8.117A.834.834,0,0,0,8.117,9.3l4.325,4.325L8.117,17.947A.834.834,0,0,0,9.3,19.125L13.622,14.8l4.325,4.325a.834.834,0,1,0,1.182-1.177L14.8,13.622,19.127,9.3A.837.837,0,0,0,19.127,8.117Z" transform="translate(-7.873 -7.872)")

            .page-row-bottom
                .input-w-icon
                    input.txt-input.default-input(type="text", name="first-name" placeholder="Promo Code") 
                    .svg(style="transform: translateY(-38px")
                        svg.input-icon(xmlns="http://www.w3.org/2000/svg" width="14" height="13.901" viewBox="0 0 14 13.901")
                            path(d="M89.862,77.359a.387.387,0,0,0-.432-.082L76.209,83.029a.389.389,0,0,0,.051.731l5.635,1.563,1.466,5.534a.386.386,0,0,0,.346.288h.031a.388.388,0,0,0,.354-.229L89.94,77.791A.386.386,0,0,0,89.862,77.359Z" transform="translate(-75.975 -77.244)" fill="#b5b5b5")
                        
                .total-sum
                    span.total-sum__title Total cost
                    span.total-sum__nb $159,98

                .btn-actions
                    button.btn.btn--default Continue shopping
                    button.btn.btn--primary Next step