extends ../includes/layout
block title
    title eCommerce Website Template
    
block body
    +navbar("white-bg", "defaultNav")

    .top-spacing
        .container
            a.back-link(href="#") 
                svg(xmlns="http://www.w3.org/2000/svg" width="13.336" height="11.59" viewBox="0 0 13.336 11.59")
                    path(d="M5.794,0,.963,4.835,0,5.8l.963.963L5.794,11.59l.963-.961-4.15-4.15H13.336V5.118H2.606L6.757.965Z")

                | Back to store


            .auth-block--center
                form
                    h1.auth-title Create an account and discover the benefits
                    p.auth-paragraph Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s

                    input.txt-input.default-input(type="text", name="first-name" placeholder="First Name") 
                    input.txt-input.default-input(type="text", name="last-name" placeholder="Last Name")
                    input.txt-input.default-input(type="email", name="email" placeholder="E-mail")
                    input.txt-input.default-input(type="password", name="password" placeholder="Password")
                        
                    label.checkbox-label(for="agree") I agree to the Google Terms of Service and Privacy Policy
                        input.checkbox-input(type="checkbox", name="agree", id="agree") 
                        span.checkbox-custom(role="checkbox" aria-checked="false" aria-labelledby="agree")
                            svg(xmlns="http://www.w3.org/2000/svg" width="13.371" height="11.063" viewBox="0 0 13.371 11.063")
                                path(d="M11.763.25l-.876.929-6.1,6.473L2.955,5.821l-.9-.9-1.8,1.8.9.9L3.91,10.384l.929.929.9-.955,7-7.428L13.62,2Z" transform="translate(-0.249 -0.25)" fill="#fff")
                    
                    button.btn.btn--primary.auth-btn.top-margin Sign up

                a.info-link(href="#") Are you already a member?

                