$primary-color: #FBB03B;
$secondary-color: #FF0000;
$primary-text-color: #111111;
$light-text-color: #FFFFFF;
$muted-text-color: #CECECE;
$light-bg-color: #FFFFFF;
$font-family: 'poppins', Arial, Helvetica, sans-serif;

$nav-bg-color--default: transparent;
$nav-bg-color--light: #FFFFFF;
$icons-bg-color: #FFF3DF;
$bg-opacity: #222;
$dark-gray: #7D7D7D;