include ../components/product-card
include ../components/navbar-level-2
include ../components/navbar

doctype html
html(lang="en")
    head
        include head
        block title
    body
        block body
    
        include ../components/newsletter
        include ./footer