.footer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-areas: "col col col col col";
    justify-content: center;
    align-content: center;
    column-gap: 10px;


    &__group-links {
        justify-self: self-start;
        width: 160px;
    }

    &__title {
        margin-bottom: 28px;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
    }

    &__link,
    &__info {
        font-size: 13px;
        margin-bottom: 14px;
    }

    &__credit {
        margin-top: 40px;
        font-size: 12px;
        text-align: center;
        color: #AEAEAE;
    }

    &__app-badge-img {
        display: block;
        margin-bottom: 24px;
    }

    &__social-media-links {
        padding: 16px 0;
    }

    &__social-media-link {
        display: inline-block;
        margin-right: 25px;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 908px) {

    .footer {
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: "col col" "col col" "col col";
    }
}

@media only screen and (max-width: 768px) {

    .footer__group-links {
        padding-bottom: 16px;
    }
}

@media only screen and (max-width: 375px){

    .footer {
        grid-template-columns: 1fr;
        grid-template-areas: "col";
    }
}