.navbar {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    padding: 40px 0;
    color: $light-text-color;
    background-color: $nav-bg-color--default;
    transition: all .3s ease-in-out;

    &__link {
        display: inline-block;
        padding: 0 8px;
        margin: 0 30px;
        font-weight: 600;
        cursor: pointer;

        &-item {
            display: inline-block;
        }
    }
    
    &__utility {
        display: inline-block;
        padding: 0 8px;
        cursor: pointer;
    }

    &--white {
        background-color: $nav-bg-color--light;
        color: $primary-text-color;
        border-bottom: 1px solid #E5E5E5;
    }

    &__logo {
        white-space: nowrap;
    }
    
    &__logo-svg {
        width: 45.77px; 
        height: 35px;
    }

    &__logo-txt {
        position: relative;
        display: inline-block;
        font-size: 19px;
        font-weight: 500;
        margin-left: 24px;
        bottom: 11px;
        white-space: nowrap;
    }
}

.navbar__logo,
.navbar__links,
.navbar__utilities {
    flex-wrap: nowrap;
}

.menu {
    display: none;
}

#profile {
    display: none;
}

.navbar-level-2 {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 120px;
    padding: 54px 0px;
    background-color: $nav-bg-color--light;
    color: $primary-text-color;
}

.main-list__item {
    font-size: 14px;
    font-weight: 600;
}

.main-list__item:not(:last-child) {
    margin-bottom: 14px;
}

.list-group {
    padding: 0 8px;
}

.list-category:first-child {
    margin-bottom: 42px;
}

.list-category__title {
    margin-bottom: 23px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.list-category__item {
    font-size: 13px;
}

.list-category__item:not(:last-child) {
    margin-bottom: 13px;
}

.list-group-ad__link {
    display: block;
    max-width: 100%;
}

.list-group-ad__link:not(:last-child) {
    margin-bottom: 16px;
}

.submenu-show {
    display: block;
}

.fill-black path, .fill-black rect {
    fill: $primary-text-color;
}

.fill-white path, .fill-white rect {
    fill: $light-text-color;
}

@media only screen and (max-width: 768px) {
    .menu-show {
        animation: menuShow .3s ease-in-out forwards;
    }

    .menu-hide {
        display: none;
    }

    #avatar {
        display: none;
    }

    .navbar__links {
        height: 100vh;
        position: absolute;
        right: -100%;
        top: 0;
        z-index: -1;
        padding: 135px 0;
        background-color: $nav-bg-color--light;
        color: $primary-text-color;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    @keyframes menuShow {
        0% {
            right: -100%;
        }
        100% {
            right: 0;
        }
    }
}

@media only screen and (max-width: 768px) {

    .navbar__link-item {
        display: block;
    }

    .navbar__link {
        display: block;
        margin: 0;
        padding: 30px 51px 30px 80px;
        text-align: right;
    }

    .menu {
        display: inline-block; 
    }

    #profile {
        display: block; 
    }

    .navbar-level-2 {
        position: static;
        text-align: right;
        padding: 20px 0;
        max-height: 100vh;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .flex--center {
            flex-direction: column;
            align-items: flex-end;
        }
    
        .flex--center > * {
            margin-bottom: 42px; 
        }
    }
}

@media only screen and (max-width: 425px) {

    .navbar {
        padding: 28px 0;

        &__logo-svg {
            width: 43px; 
            height: 33px;
        }

        &__logo-txt {
            font-size: 17px;
            margin-left: 17px;
        }
    }
}