.btn {
    display: inline-block;
    border-radius: 50px;
    padding: 15px 27px;
    color: #111111;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;

    &--white {
        margin-top: 25px;
        background-color: white;
    }

    &--default {
        border: 1px solid #D8D8D8;
    }
}

.btn-round {
    display: inline-block;
    width: 39px;
    height: 39px;
    position: relative;
    border-radius: 50px;
    cursor: pointer;

    &__icon--center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__txt {
        display: inline-block;
        margin-left: 22px;
        margin-top: 15px;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        vertical-align: top;
    }

    &--primary {
        background-color: $primary-color;
    }
    
    &--secondary {
        background-color: white;
        svg path {
            fill: black;
        }

        &:hover {
            background-color: $primary-color;
            svg path {
                fill: white;
            }
        }
    }
}