.btn {
    display: inline-block;
    padding: 15px 27px;
    border-radius: 50px;
    color: $primary-text-color;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;

    &--white {
        margin-top: 25px;
        background-color: $light-bg-color;

        &:hover {
            background-color: darken($color: $light-bg-color, $amount: 8%)
        }
    }

    &--default {
        border: 1px solid #D8D8D8;
    }

    &--primary {
        background-color: $primary-color;

        &:hover {
            background-color: darken($color: $primary-color, $amount: 8%)
        }
    }

    &__tab--active {
        border: 2px solid $primary-color;
    }

    &__tab--inactive {
        color: $muted-text-color;
        border: none;
    }
}

.btn-round {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    border: 1px solid $muted-text-color;
    cursor: pointer;
    vertical-align: top;

    &__icon--center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__txt {
        display: inline-block;
        margin-left: 22px;
        margin-top: 15px;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        vertical-align: top;
    }

    &--primary {
        background-color: $primary-color;
        
        &:hover {
            background-color: darken($color: $primary-color, $amount: 8%)
        }    
    }
    
    &--secondary {
        background-color: $light-bg-color;
        svg path {
            fill: $primary-text-color;
        }

        &:hover {
            background-color: $primary-color;
            svg path {
                fill: $light-text-color;
            }
        }
    }
}

.btn-social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    padding: 18px 58px;
    font-size: 13px;
    font-weight: 600;
    text-transform: none;
    border-radius: 50px;
    cursor: pointer;

    &__icon {
        margin-right: 23px;
    }
}

.btn-fb {
    background-color: #3B5998;
    color: white;
}

.btn-gmail {
    border: 1px solid #F1584D;
}

.auth-btn {
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    text-transform: none;
}

@media only screen and (max-width: 537px) {

    .btn-social-media {
        justify-content: center;

        &:not(:last-child){
            margin-bottom: 20px;
        }
    }  
}