.search-bar {
    display: none;
    position: relative;
    margin-right: 20px;
    &--icon {
        position: absolute;
        top: 15px;
        right: 22px;
    }    

    @media only screen and (max-width: 1250px) {
        margin-right: 0px;
        padding: 0 10px;
        position: absolute;
        top: 150px;
        right: 50%;
        transform: translateX(50%);
    }

    @media only screen and (max-width: 425px) {
        top: 100px;
    }
    
}

.search-bar--show {
    display: inline-block;
}

.txt-input {
    padding: 15px 40px 15px 28px;
    border-radius: 50px;
    font-size: 13px;
    background-color: $light-bg-color;
}

.select-input {
    padding: 15px 40px 15px 28px;
    border-radius: 50px;
    border: 1px solid $muted-text-color;
    -webkit-appearance:none; /*For hiding default pointer of drop-down on Chrome*/
    -moz-appearance:none;
    cursor: pointer;
    background-image: url("../images/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 1.2em top 50%;
    text-transform: uppercase;
}

.number-input {
    padding: 15px 40px;
    border-radius: 50px;
    border: 1px solid $muted-text-color;
}

.search-bar--input {
    display: inline-block;
    width: 415px;
    @media only screen and (max-width: 425px) {
        width: 300px;
    }
}