.newsletter {
    position: relative;
    z-index: 0;
    padding: 4.5em 3em;
    background-image: url(../images/newsletter-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: 1024px) {
            flex-direction: column;
        }
    }

    &__title {
        flex: 1;
        font-size: 29px;
        font-weight: 500;
        line-height: 1.4;
        color: $light-text-color;

        @media only screen and (max-width: 1024px) {
            margin-bottom: 1em;
            font-size: 20px;
            text-align: center;
        }
    }

    &__form {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        input {
            justify-self: center;
            align-self: center;
        }

        @media only screen and (max-width: 1024px) {
            flex-direction: column;
        }
    }


    &__input {
        width: 68%;
        
        @media only screen and (max-width: 1024px) {
            display: block;
            width: 290px;
            margin-bottom: .5em;
        }
    } 

    &__btn {
        margin-left: 20px;
        @media only screen and (max-width: 1024px) {
            margin-left: 0;
        }
    }

    &::before {
        @extend %img-dark-overlay
    }
}