.product-cards-slider {
    position: relative;

    .product-card {
        margin: 0 10px;

        .product-card:first-child {
            margin-left: 0;
        }

        .product-card:last-child {
            margin-right: 0;
        }

    }
}

.container-product-card {
    /*display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-items: center;
    justify-content: center;*/
   
    display: flex;
    justify-content: space-between;

    overflow-y: hidden;
    overflow-x: scroll;

}

.product-card {
    position: relative;
    width: 271px;

    &__img {
        width: 272px;
        height: 467px;

        img {
            width: 100%;
        }
    }

    &__content {
        margin: 30px 0;
    }

    &__title {
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: 400;
    }

    &__price {
        font-size: 20px;
        font-weight: 500;

        &--new {
            color: $secondary-color;
            margin-right: 29px;
        }

        &--old {
            color: $muted-text-color;
        }
    }

    &__actions {
        position: absolute;
        display: flex;
        /*to prevent flex items from stretching*/
        align-items: center;
        justify-content: space-between;
        justify-items: center;
        width: 100%;
        padding: 22px 20px;
    }
}