%img-dark-overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}

.hero-section {
    position: relative;
    z-index: 0;
    height: 700px;
    background-image: url("../images/hero-bg-img-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    color: $light-text-color;

    &::after {
        @extend %img-dark-overlay
    }

    &__txt {
        max-width: 365px;
        margin-bottom: 27px;
        font-size: 66px;
        font-weight: 700;
        line-height: 1.2;

        @media only screen and (max-width: 1024px) {
            font-size: 50px;
        }

        @media only screen and (max-width: 768px) {
            font-size: 43px;
        }
    }

    &__content {
        padding-top: 160px;
        margin-left: 195px;
        
        @media only screen and (max-width: 1024px) {
            padding-top: 250px; 
        }

        @media only screen and (max-width: 768px) {
            padding-top: 250px;
            margin: auto;  
        }
        
    }

    &__services {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 80%;
        padding: 36px 97px;
        border-radius: 0 70px 0 0;
        color: $primary-text-color;
        background-color: $light-bg-color;

        @media only screen and (max-width: 939px) {
            padding: 15px 97px;
        }

        @media only screen and (max-width: 768px) {
            display: none;
        }
    }
}

.services-flex {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    justify-items: flex-end;

    @media only screen and (max-width: 939px) {
        display: block; 
    }
}

.service-item {
    display: flex;
    flex-basis: 255px;
    align-items: flex-start;
    padding: 0 8px;

    &__icon {
        width: 39px;
        height: 39px;
        padding: 10px;
        border-radius: 10px;
        background-color: $icons-bg-color;
    }

    &__content {
        margin-left: 27px;
    }

    &__title {
        display: block;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 600;
        @media only screen and (max-width: 939px) {
            margin-bottom: 5px;
        }

    }
    
    &__txt {
        font-size: 12px;
        line-height: 1.5;
        color: #A8A8A8;
    }

    @media only screen and (max-width: 939px) {
        padding: 5px 0;
    }
}

.spacing {
    padding: 37px 0;
}

.container-card-ad {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-areas: "a b c"; 
    grid-gap: 15px;
    justify-content: center;
    justify-items: center;

    @media only screen and (max-width: 1024px) {
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "a a"
        "b c";  
    }

    @media only screen and (max-width: 628px) {
        grid-template-columns: 100%;
        grid-template-areas: 
        "a"
        "b"
        "c";  
    }
}

.a {
    grid-area: a;
}
.b {
    grid-area: b;
}
.c{
    grid-area: c;
}

.card-ad {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 340px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    color: $light-text-color;

    &::after {
        @extend %img-dark-overlay
    }

    &__content {
        position: absolute;
        bottom: 56px;
        left: 30px;
        max-width: 200px;
        margin: 0 8px;

    }

    &__title {
        margin-top: 15px;
        font-size: 25px;
        font-weight: 500;
        line-height: 1.6;
    }
}

.card-ad--img-1 {
    background-image: url("../images/adult-black-clothes-dark.png");
}

.card-ad--img-2 {
    background-image: url("../images/beach-black-pants-black-shirt.png");
}

.card-ad--img-3 {
    background-image: url("../images/person-sale-sign.png");
}

.sub-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.section-title--default {
    padding-right: 8px;
    font-size: 29px;
    font-weight: 400;

    @media only screen and (max-width: 425px) {
        font-size: 20px;
    }
}

.title--center {
    text-align: center;
    margin-bottom: 90px;
}

.items-4-grid-container {
    grid-gap: .8em;
    @include items4-GridMedia(768px, 375px);
}

.service__grid-item {
    max-width: 260px;
}

.service-item__icon--lg {
    position: relative;
    width: 70px;
    height: 70px;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: #F6F6F6;

    & > svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.service-item__title--lg {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.service-item__txt--lg {
    font-size: 13px;
    color: #808080;
    line-height: 1.8;
}

.products-grid-container {
    align-items: center;
    justify-items: center;
    @include items4-GridMedia(1165px, 639px);
}