.search-flex-layout {
    width: 100%;
    display: flex;
    margin-top: 44px;

    @media only screen and (max-width: 710px) {
        flex-direction: column;
    }
}

.filter {
    padding: 0 31px 24px 31px;
    max-height: 250px;
    transition: max-height 0.6s ease;
}

.filter-container {
    border: 1px solid $muted-text-color;
    min-width: 300px;
    margin-bottom: 13px;

    @media only screen and (max-width: 710px) {
        min-width: 100%;
    }

    .checkbox-wrapper:first-child {
        margin-top: 0;
    }

    .checkbox-wrapper:last-child {
        margin-bottom: 0;
    }
}

.filter-title-row {
    cursor: pointer;
    padding: 28px 31px;
}

.filter-title {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.filter-title-arrow {
    float: right;
    & svg {
        transform: translateY(-50%);
    }
}

.search-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5em;
    margin-bottom: 35px;


    @media only screen and (max-width: 1248px) {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-right: 0;
    }

    &__form {
        @media only screen and (max-width: 1248px) {
            margin-top: 35px;
        }
    }

    &__label {
        font-size: 13px;
        font-weight: bold;
        margin-right: 14px;
    }

    .row-filter {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 30px;

            @media only screen and (max-width: 1248px) {
                margin-bottom: 1em;
                margin-right: 0;
            }
        }

        @media only screen and (max-width: 979px) {
            display: block;
        }
    }
}

.search-display {
    flex: 1;
}

.search-grid-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 1em;
}

.filter-toggle {
    max-height: 0px;
    opacity: 0;
    padding: 0px;
}

.radio-btn-container {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    margin-right: -5px;
}

.filter-radio__label {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 42px;
    border: 1px solid $muted-text-color;
    font-size: 13px;
    cursor: pointer;

    & > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.input-r {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    &:checked ~ .filter-radio__label {
        border-color: $dark-gray;
    }
}

.color {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid $muted-text-color;
    

    &.black {
        background-color: black;
    }

    &.maroon {
        background-color: #6F3E18;
    }

    &.light-maroon {
        background-color: #D4BE8D;
    }

    &.grey {
        background-color: #838383;
    }

    &.white {
        background-color: white;
    }

    &.blue {
        background-color: #0F73AD;
    }
}

.light-txt {
    color: $muted-text-color;
}

.search-title {
    font-size: 24px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 52px 0;

    span {
        margin-right: 1.5em;
    }
}

.page-num {
    display: inline-block;
    & > a {
        padding: 11px 17px;
        border: 2px solid $muted-text-color;
    }
}

.rotate {
    transform: rotate(180deg);
}