.page-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 38px;
    margin-bottom: 66px;

    @media only screen and (max-width: 876px) {
        flex-direction: column;

        & > h1 {
            margin-bottom: 1em;
        }
    }
}

.shopping-cart-table {
    width: 100%;
    margin-bottom: 48px;
    tbody td {
        padding-top: 32px;
        font-size: 14px;
    }

    td:not(:first-child) {
        text-align: center;
        padding-left: .9em;
    }
}

.table-sc {

    @media only screen and (max-width: 876px) {
        width: 100%;
        overflow-x: scroll;
    }
}

.cel-title {
    font-size: 14px;
    color: $dark-gray;
    margin-bottom: 30px;
    text-align: center;

    &:first-child {
        text-align: start;
    }
}

.cel-title:first-child() {
    grid-column: span 2;
}

.product-cart {
    display: flex;
    align-items: center;
    max-width: fit-content;

    &__info {
        margin-left: 32px;
    }

    &__info-title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: .5em;
    }

    &__info-nb {
        font-size: 13px;
        color: $dark-gray;
    }
}

.cancel-btn {
    cursor: pointer;
}

.total-sum__title {
    margin-right: 32px;
    font-weight: 400;
}

.total-sum__nb {
    font-weight: 600;
}

.page-row-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 876px) {
        flex-direction: column;
        align-items: flex-start;

        & > div {
            margin-bottom: 1.5em;
        }
    }

    .back-link {
        margin-top: 0;

        @media only screen and (max-width: 876px) {
            margin: 2em 0;
        }
    }

    .btn-actions > button:first-child {
        margin-right: 26px;

        @media only screen and (max-width: 876px) {
            margin-bottom: 1em;
        }
    }
}

.address-form__row {
    display: flex;
    width: 100%;
    margin-bottom: 26px;
    align-items: flex-start;
    justify-items: flex-start;
    gap: 2em;

    @media only screen and (max-width: 644px) {
        flex-direction: column;
    }
    
    .input-container {
        flex: 1;
        @media only screen and (max-width: 644px) {
            width: 100%;
        }
    }
}

.radio-card {
    display: block;
    width: 143px;
    height: 188px;
    padding: 25px 15px;
    border: 1px solid $muted-text-color;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;

    img {
        margin-bottom: 32px;
    }

    &-price {
        display: block;
        margin-bottom: 14px;
        font-weight: 600;
    }

    &-payment-type {
        display: block;
        font-size: 13px;
        line-height: 1.5;
        color: $dark-gray;
    }
}

.radio-card-container {
    position: relative;
}

.radio-card-input {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    &:checked ~ .radio-card {
        border-color: $primary-color;
    }
}

.grid-layout {
    flex: 45%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(143px, 1fr));
    gap: 8px;
    margin-top: 16px;
    margin-left: 1em;
    margin-bottom: 1em;
    align-items: center;
    justify-content: center;
    justify-items: center;

    @media only screen and (max-width: 644px) {
        margin-left: 0;
    }
}

.flex-display {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 1188px) {
        flex-direction: column;
    }
}