body {
    width: 100%;
    font-family: $font-family;
    color: $primary-text-color;
    //background-color: rgb(243, 243, 243);
    //overflow-x: hidden;
}

.container {
    max-width: 90%;
    padding: 0px 35px;
    margin: auto;
}

.wrapper {
    margin: 37px 0;
}

.flex--center {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.flex {
    display: flex;
}

.tag {
    display: inline-block;
    padding: 8px 10px;
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    background-color: $secondary-color;
    border-radius: 40px;
}

@media only screen and (max-width: 425px) {
    .container {
        max-width: 98%;
        padding: 0px 30px;
    }
    
}