body {
    width: 100%;
    font-family: $font-family;
    color: $primary-text-color;
    //overflow-x: hidden;
}

.container {
    max-width: 90%;
    padding: 0px 35px;
    margin: auto; 
}

.wrapper {
    margin: 37px 0;
}

.flex--center {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.top-spacing {
    margin-top: 130px;
}

.tag {
    display: inline-block;
    padding: 8px 10px;
    border-radius: 40px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: $light-text-color;
    background-color: $secondary-color;
    text-transform: uppercase;
}

.breadcrumbs {
    align-self: flex-start;

    .breadcrumb {
        display: inline-block;
        font-size: 13px;
    }

    .breadcrumb:not(:last-child) {
        color: #b2b2b2;
    }

    .breadcrumb:not(:last-child)::after {
        content: '/';
        padding: 0 12px;
        color: #b2b2b2;
    }

    &__row {
        padding-top: 43px;
    }
}

.muted-txt {
    color: $muted-text-color;
}

.side-title {
    font-size: 20px;
    font-weight: 600;
}

@media only screen and (max-width: 425px) {

    .container {
        max-width: 98%;
        padding: 0px 30px;   
    }
}

@media only screen and (max-width: 768px) {

    .breadcrumbs .breadcrumb {
        padding: 8px 0;
    }

    .breadcrumbs__row {
        padding-top: 10px;
    }
}