mixin comment(img, name)
    .comment
        .comment__user-photo
            img(src=img, alt="user photo")
        .comment__content
            .comment__user-name= name
            .comment__user-rating
                svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="98" height="13.351" viewBox="0 0 98 13.351")
                    defs
                        linearGradient(x1="0.5" y1="0.5" x2="0.541" y2="0.5" gradientUnits="objectBoundingBox")
                            stop(offset="0" stop-color="#fbb03b")
                            stop(offset="1" stop-color="#c2c2c2")    
                
                    g(transform="translate(-255 -1137.476)")
                        path(d="M18.979,12.158c-.057-.175-.2-.293-.622-.332l-3.867-.359a.476.476,0,0,1-.447-.324L12.508,7.576c-.168-.391-.324-.489-.508-.489s-.34.1-.508.489L9.956,11.142a.476.476,0,0,1-.447.324l-3.866.359c-.424.04-.565.157-.622.332s-.012.353.308.634l2.917,2.563a.477.477,0,0,1,.171.525l-.854,3.788c-.093.415-.025.586.124.694s.332.121.7-.1l3.339-1.982a.475.475,0,0,1,.552,0l3.339,1.982c.366.217.55.2.7.1s.217-.279.124-.694l-.854-3.788a.477.477,0,0,1,.171-.526l2.917-2.563C18.991,12.511,19.036,12.333,18.979,12.158Z" transform="translate(250 1130.389)" fill="#fbb03b")
                        path(d="M18.979,12.158c-.057-.175-.2-.293-.622-.332l-3.867-.359a.476.476,0,0,1-.447-.324L12.508,7.576c-.168-.391-.324-.489-.508-.489s-.34.1-.508.489L9.956,11.142a.476.476,0,0,1-.447.324l-3.866.359c-.424.04-.565.157-.622.332s-.012.353.308.634l2.917,2.563a.477.477,0,0,1,.171.525l-.854,3.788c-.093.415-.025.586.124.694s.332.121.7-.1l3.339-1.982a.475.475,0,0,1,.552,0l3.339,1.982c.366.217.55.2.7.1s.217-.279.124-.694l-.854-3.788a.477.477,0,0,1,.171-.526l2.917-2.563C18.991,12.511,19.036,12.333,18.979,12.158Z" transform="translate(271 1130.389)" fill="#fbb03b")
                        path(d="M18.979,12.158c-.057-.175-.2-.293-.622-.332l-3.867-.359a.476.476,0,0,1-.447-.324L12.508,7.576c-.168-.391-.324-.489-.508-.489s-.34.1-.508.489L9.956,11.142a.476.476,0,0,1-.447.324l-3.866.359c-.424.04-.565.157-.622.332s-.012.353.308.634l2.917,2.563a.477.477,0,0,1,.171.525l-.854,3.788c-.093.415-.025.586.124.694s.332.121.7-.1l3.339-1.982a.475.475,0,0,1,.552,0l3.339,1.982c.366.217.55.2.7.1s.217-.279.124-.694l-.854-3.788a.477.477,0,0,1,.171-.526l2.917-2.563C18.991,12.511,19.036,12.333,18.979,12.158Z" transform="translate(292 1130.389)" fill="#fbb03b")
                        path(d="M18.979,12.158c-.057-.175-.2-.293-.622-.332l-3.867-.359a.476.476,0,0,1-.447-.324L12.508,7.576c-.168-.391-.324-.489-.508-.489s-.34.1-.508.489L9.956,11.142a.476.476,0,0,1-.447.324l-3.866.359c-.424.04-.565.157-.622.332s-.012.353.308.634l2.917,2.563a.477.477,0,0,1,.171.525l-.854,3.788c-.093.415-.025.586.124.694s.332.121.7-.1l3.339-1.982a.475.475,0,0,1,.552,0l3.339,1.982c.366.217.55.2.7.1s.217-.279.124-.694l-.854-3.788a.477.477,0,0,1,.171-.526l2.917-2.563C18.991,12.511,19.036,12.333,18.979,12.158Z" transform="translate(313 1130.389)" fill="#fbb03b")
                        path(d="M18.979,12.158c-.057-.175-.2-.293-.622-.332l-3.867-.359a.476.476,0,0,1-.447-.324L12.508,7.576c-.168-.391-.324-.489-.508-.489s-.34.1-.508.489L9.956,11.142a.476.476,0,0,1-.447.324l-3.866.359c-.424.04-.565.157-.622.332s-.012.353.308.634l2.917,2.563a.477.477,0,0,1,.171.525l-.854,3.788c-.093.415-.025.586.124.694s.332.121.7-.1l3.339-1.982a.475.475,0,0,1,.552,0l3.339,1.982c.366.217.55.2.7.1s.217-.279.124-.694l-.854-3.788a.477.477,0,0,1,.171-.526l2.917-2.563C18.991,12.511,19.036,12.333,18.979,12.158Z" transform="translate(334 1130.389)" fill="url(#linear-gradient)")
                        
            .comment__txt
                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
