mixin MenuLevel_2(link="Men")
    .navbar-level-2(id= "menu"+link)
        .container  
                .flex--center
                    .main-list
                        ul
                            li.main-list__item
                                a(href="#") Sale
                            li.main-list__item
                                a(href="#") Bestsellers
                            li.main-list__item
                                a(href="#") Latest Arrivals

                    .list-group
                        .list-category
                            h3.list-category__title Shoes
                            ul
                                li.list-category__item
                                    a(href="#") Lifestyle
                                li.list-category__item
                                    a(href="#") Running
                                li.list-category__item
                                    a(href="#") Soccer

                        .list-category
                            h3.list-category__title Bags
                            ul
                                li.list-category__item
                                    a(href="#") Backpacks
                                li.list-category__item
                                    a(href="#") Messenger Bags
                                li.list-category__item
                                    a(href="#") Luggage

                    .list-group
                        .list-category
                            h3.list-category__title Clothing
                            ul
                                li.list-category__item
                                    a(href="#") Pants
                                li.list-category__item
                                    a(href="#") Hoodies & Sweatshirts
                                li.list-category__item
                                    a(href="#") Vests

                        .list-category
                            h3.list-category__title Outerwear
                            ul
                                li.list-category__item
                                    a(href="#") Parkas
                                li.list-category__item
                                    a(href="#") Jackets
                                li.list-category__item
                                    a(href="#") Coats

                    .list-group
                        .list-category
                            h3.list-category__title Accesorries
                            ul
                                li.list-category__item
                                    a(href="#") Glasses
                                li.list-category__item
                                    a(href="#") Caps & Hats
                                li.list-category__item
                                    a(href="#") Watches

                        .list-category
                            h3.list-category__title Collections
                            ul
                                li.list-category__item
                                    a(href="#") Originals
                                li.list-category__item
                                    a(href="#") New Casual
                                li.list-category__item
                                    a(href="#") Reviving Retro
                    .list-group-ad
                        a.list-group-ad__link(href="#")
                            img(src="./images/menu-ad1.png", alt="ad1")
                        a.list-group-ad__link(href="#")
                            img(src="./images/menu-ad2.png", alt="ad2")
                        a.list-group-ad__link(href="#")
                            img(src="./images/menu-ad3.png", alt="ad3")
