nav.navbar
    .container
        .flex--center
            .navbar__logo
                a(href="index.html")
                    svg.navbar__logo-svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45.77 35.001")
                        path(id="noun_cloth_2129414" d="M437.579,459a1.344,1.344,0,0,1-1.3-.867l-3.26-8.556H418.69a2.69,2.69,0,0,1-2.69-2.692V426.692A2.691,2.691,0,0,1,418.7,424h18.843a1.346,1.346,0,0,1,1.218.773l4.07,8.65h16.252a2.69,2.69,0,0,1,2.69,2.692v20.192a2.691,2.691,0,0,1-2.7,2.692Zm-.895-32.308H418.7s0,6.731,0,20.192h27.494Zm7.41,9.423,5.432,11.542a1.346,1.346,0,0,1-.332,1.586l-8.073,7.064h17.952s0-6.731,0-20.192Zm-5.986,19.251,6.617-5.79H435.9Z" transform="translate(-416 -424)" fill="#111") 
                    span.logo__txt E-shop

            ul#menu.navbar__links
                li#men.navbar__link-item
                    .navbar__link Men
                    include navbar-level2

                li#Women.navbar__link-item
                    .navbar__link Women
                    
                li#Kids.navbar__link-item
                    .navbar__link Kids
                   
                li#profile
                    a.navbar__link(href="#") Profile

            ul.navbar__utilities
                li#searchBar.search-bar
                    input.txt-input.search-bar--input(type="text", name="Search" placeholder="Enter the product you are looking for")
                    svg.search-bar--icon(xmlns="http://www.w3.org/2000/svg" width="14.498" height="14.5" viewBox="0 0 14.498 14.5")
                        path(id="noun_Search_2102816_2_" data-name="noun_Search_2102816 (2)" d="M11.359,16.712a5.344,5.344,0,0,0,3.335-1.165l4.776,4.776a.6.6,0,1,0,.854-.854l-4.776-4.776a5.359,5.359,0,1,0-4.19,2.02ZM8.425,8.424a4.149,4.149,0,1,1,0,5.868A4.122,4.122,0,0,1,8.425,8.424Z" transform="translate(-6.004 -6)")
                    
                li#searchIcon.navbar__utility
                    svg(xmlns="http://www.w3.org/2000/svg" width="19" viewBox="0 0 21.996 22")
                        path(d="M14.129,22.253a8.109,8.109,0,0,0,5.061-1.768l7.246,7.246a.917.917,0,1,0,1.3-1.3l-7.246-7.246a8.131,8.131,0,1,0-6.357,3.064ZM9.677,9.677a6.3,6.3,0,1,1,0,8.9A6.253,6.253,0,0,1,9.677,9.677Z" transform="translate(-6.004 -6)" fill="#111")

                
                li.navbar__utility
                    a(href="#")
                        svg(xmlns="http://www.w3.org/2000/svg" width="19" viewBox="0 0 22 22")
                            g(transform="translate(-6 -6)")
                                path(d="M6.917,7.833H8.448l2.295,10.355a3.289,3.289,0,0,0-1.871,3.042,3.133,3.133,0,0,0,2.962,3.275H23.988a.917.917,0,1,0,0-1.833H11.833A1.332,1.332,0,0,1,10.7,21.231a1.332,1.332,0,0,1,1.128-1.442H23.988a.917.917,0,0,0,.863-.606l3.1-8.591a.917.917,0,0,0-.863-1.227H10.665l-.586-2.646A.916.916,0,0,0,9.184,6H6.917a.917.917,0,0,0,0,1.833ZM25.779,11.2l-2.435,6.758H12.568l-1.5-6.758H25.779Z" fill="#111")
                                path(d="M19.261,50a.917.917,0,0,0,0,1.833h1.164a.917.917,0,1,0,0-1.833Z" transform="translate(-6.687 -23.833)" fill="#111")
                                path(d="M37.713,50a.917.917,0,0,0,0,1.833h1.164a.917.917,0,1,0,0-1.833Z" transform="translate(-16.682 -23.833)" fill="#111")

                li#avatar.navbar__utility
                    a(href="#")
                        svg(xmlns="http://www.w3.org/2000/svg" width="19" viewBox="0 0 19 19")
                            path(d="M23.144,19.823l-4.2-1.723a.594.594,0,0,1-.375-.548V16.57a.557.557,0,0,1,.119-.349,8.265,8.265,0,0,0,1.721-5.03C20.41,8.086,18.437,6,15.5,6s-4.91,2.086-4.91,5.192a8.266,8.266,0,0,0,1.721,5.03.557.557,0,0,1,.119.348v.981a.594.594,0,0,1-.375.548l-4.2,1.723A2.97,2.97,0,0,0,6,22.575v1.634A.792.792,0,0,0,6.792,25H24.208A.792.792,0,0,0,25,24.208V22.575A2.97,2.97,0,0,0,23.144,19.823Zm.273,3.594H7.583v-.842a1.392,1.392,0,0,1,.874-1.287l4.2-1.723a2.172,2.172,0,0,0,1.357-2.013V16.57a2.145,2.145,0,0,0-.468-1.34,6.729,6.729,0,0,1-1.372-4.038c0-2.66,1.718-3.608,3.327-3.608s3.327.948,3.327,3.608a6.729,6.729,0,0,1-1.372,4.038,2.146,2.146,0,0,0-.468,1.34v.981a2.172,2.172,0,0,0,1.357,2.013l4.2,1.723a1.392,1.392,0,0,1,.874,1.287Z" transform="translate(-6 -6)" fill="#111")
                
                li#menuIcon.navbar__utility.menu
                    svg(xmlns="http://www.w3.org/2000/svg" width="22" height="15" viewBox="0 0 22 15")
                        g(id="Group_1" data-name="Group 1" transform="translate(-316 -39)")
                            rect(id="Rectangle_615" data-name="Rectangle 615" width="22" height="2" rx="1" transform="translate(316 39)")
                            rect(id="Rectangle_616" data-name="Rectangle 616" width="22" height="2" rx="1" transform="translate(316 46)")
                            rect(id="Rectangle_617" data-name="Rectangle 617" width="22" height="2" rx="1" transform="translate(316 52)")

