.container.spacing
    .newsletter
        .newsletter__content
            p.newsletter__title Subscribe to our newsletter and receive exclusive offers every week
            .newsletter__form
                input.txt-input.newsletter__input(type="text", name="Newsletter" placeholder="Enter your email")
                input.btn.btn--primary.newsletter__btn(type="submit" value="Subscribe")