.product-display__images
    .product-display__side-images
        .product-display__side-image
            img(src="images/beach-black-pants-black-shirt.png", alt="")

        .product-display__side-image
            img(src="images/product-page.png", alt="")
            
        .product-display__side-image
            img(src="images/product-page.png", alt="")

        .product-display__side-image
            img(src="images/product-page.png", alt="")

        .product-display__side-image
            img(src="images/product-page.png", alt="")

        .product-display__side-image
            img(src="images/product-page.png", alt="")

        .product-display__side-image
            img(src="images/product-page.png", alt="")

        .product-display__side-image
            img(src="images/product-page.png", alt="")

        .product-display__side-image
            img(src="images/product-page.png", alt="")

        .product-display__side-image
            img(src="images/product-page.png", alt="")
        
    .product-display__main-image
        img(src="images/product-page.png", alt="")